@{
    ViewBag.Title = "Booking";
}

<div style="margin: 50px;">
    <h1 style="text-align: center;">
        Dobro došli na Booking!
    </h1>
    <h3 style="text-align: center; margin-top: 50px;">
        WEB aplikacija za online rezervaciju smeštaja
    </h3>
</div>