
@{

                ViewBag.Title = "AddNewRoom";
                Layout = "~/Views/Shared/_Layout.cshtml";
              
}
@model Booking.ControlerViewModels.ReservationDates

<h2 style="margin:50px; text-align:center;">Dodajte novu rezervaciju za odabranu smestajnu jedinicu</h2>
@using (@Html.BeginForm("AddReservation", "Reservation",  new { roomId = Model.Reservation.Room.Id }, FormMethod.Post, null))
{
    <div class="row">
        <div class="form-group col-lg-5">
            <label>Pocetni datum</label>
            @Html.TextBoxFor(m => m.Reservation.DateStart, new { @class = "form-control", @id = "dateStart" })
        </div>

        <div class="form-group col-lg-3">
            <label>Krajnji datum</label>
            @Html.TextBoxFor(m => m.Reservation.DateEnd, new { @class = "form-control", @id = "dateEnd" })
        </div>
    </div>
    
    <div class="form-group" style="margin-top:30px">
        <label>Dodatne napomene vezane za rezervaciju</label>
        @Html.TextAreaFor(m => m.Reservation.Comment, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
    <input type="hidden" id="dates" value=@Model.Dates />
}

<script>

    $('#dateStart').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        defaultDate: "now",
    });
    $('#dateEnd').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        defaultDate: "now"
    });
    

</script>