.cardsWrapper {
    padding:10px;
}
.card {
    padding: 10px;
    border: solid grey 1px;
    /*overflow: auto;*/
    margin: 10px;
    background-color: lavender;
}
.background-color {
    background-color: #FFFFCC;
}