.allAccomodations {
  
    padding:10px;
}
.accomodation {
    padding: 10px;
    border: solid grey 1px;
    overflow: auto;
    margin: 10px;
}
.sidebar{
    background-color: silver;
    border:1px solid black;
    margin-top:20px;
    height:500px;
    text-align: center;
}
